PORT=3000
DB_ADRESS='Put_Your_Mongodb_Link'
SENDGRID_API_KEY='Put_Your_Sendgrid_API_Key'
PRIVATE_KEY='Put_Your_RSA_Private_Key'
PUBLIC_KEY='Put_Your_RSA_Public_Key'
SERVER_KEY='Put_Your_Random_Password'